* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banner style */

.header {
    background-image: url('../images/banner/banner1.png');
    width: 1600px;
    height: 809px;


}

.banner {
    display: flex;
    justify-content: flex-end;
    padding: 200px 300px 300px 700px;




}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;

}

.banner-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
    margin-top: 20px;
}

.btn-primary {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    text-align: right;
    padding: 10px 25px;


}

/* about style */
.about {
    display: flex;
    justify-content: center;
    margin: 200px 200px;

}

.about-inside {
    margin: 120px;
}

.about-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 40px;
}

.about-subtile {

    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.about ul {
    margin-top: 20px;
    list-style-type: square;

}

/* my plan design */
.my-plan {
    text-align: center;

}
.my-plan-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
}

.plan-info-container {
    display: flex;
    justify-content: space-around;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* graphical-view style */
.graphical-view{
   margin: 100px 200px;
}
.graphical-view img{
   
    border-radius: 8px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}